.murderLeftSide {
    background: white;
    padding: 30px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 0 auto;
}

.imgWrap {
    width: 100%;
    height: 500px;
}

.imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socialIcon {
    background: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
    background-color: #CB2D2E;
    padding: 8px 12px;
    border-radius: 4px;
    color: white;
}

.card:nth-child(2) {
    background-color: #2B8444;
}

.card h3 {
    margin: 0;
}

.card p {
    margin: 0;
}

.card-icon {
    font-size: 70px;
}

.card-arrow {
    font-size: 30px;
}

.leftCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 8px 20px;
    border-radius: 4px;

}

.leftCard:nth-child(1) {
    background-color: #DC2626;
    color: white;
}

.leftCard-text {
    margin: 0;
    font-weight: 600;
}

.leftCard-icon {
    font-size: 24px;
}

.casesCard {
    width: 385px;
    height: 500px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 5px;
    overflow: hidden;
}

.casesCard img {
    scale: 1;
    transition: all .5s cubic-bezier(0.57, 0.54, 0.76, 0.74);
}

.casesCard:hover img {
    scale: 1.3;
}

.caseCardContent {
    padding: 0 20px;
    margin-top: 20px;
}

@media only screen and (max-width:1024px) {
    .casesCard {
        width: 100%;
        height: auto;
    }

    .caseCardContent {
        padding: 20px;
    }
}

@media only screen and (max-width:1024px) {
    .imgWrap {
        width: 100%;
        height: 100%;
    }
    .murderLeftSide {
        padding: 12px;
        width: 100%;
    }
}