.donation {
    background-image: url(../../../../assets/images/donation/donation.jpeg);

}


.donationLeftSide {
    background: #2B8444;
    height: 600px;
    position: relative;
    z-index: 3;
    top: -150px;
    color: #fff;
    padding: 50px;
}

@media only screen and (max-width:1024px) {
    .donationLeftSide {
        height: auto;
        top: -150px;
    }

    .donationLeftSide {
        height: auto;
        top: 0px;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width:768px) {

    .donation {
        height: 300px;
    }
}