# Ignore node_modules as it will be installed inside the container
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore build directories (Next.js and other build outputs)
.next
out

# Ignore logs
logs
*.log
*.log.*

# Ignore git files and directories
.git
.gitignore

# Ignore Docker files that shouldn’t be copied
Dockerfile
Dockerfile.*

# Ignore IDE and editor config files
.vscode
.idea
*.sublime*

# Ignore temporary files
*.swp
*.DS_Store
*.cache
