@import url(../styles/style.css);
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Noto+Sans+Bengali:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html,
body {
  scroll-behavior: smooth;
} */
body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Baloo Da 2", serif;
  font-optical-sizing: auto;
}

@layer base {
  h1 {
    @apply text-2xl md:text-4xl  font-bold;
  }
  h2 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-sm md:text-xl font-semibold;
  }
}

.sectionMargin {
  margin-top: 80px;
}

.custom-clip-path {
  clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 100%);
}
.react-international-phone-input-container .react-international-phone-input {
  width: 474px !important;
  height: 50px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.react-international-phone-input-container
  .react-international-phone-country-selector-button {
  height: 50px !important;
  width: 54px !important;
}

@media only screen and (max-width: 500px) {
  .sectionMargin {
    margin-top: 40px;
  }
  .react-international-phone-input-container .react-international-phone-input {
    width: 150px !important;
  }
  .react-international-phone-input-container
    .react-international-phone-country-selector-button {
    width: 45px !important;
  }
}


.blogCard {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:10px; */
  width: 450px;
}

.blogCardContent {
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 18px;
  border-radius: 14px;
  position: relative;
  top: -58px;
  z-index: 5 !important;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}

.recentBlogImgwrap {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.recentBlogImgwrap img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
