.victimCard {
  box-shadow: 0 1px 3px #00000005, 0 0 0 1px #1b1f2326;
  border-radius: 10px;
  height: 600px;
}

.activeCardImgWrap {
  width: 100%;
  height: 421px;
  overflow: hidden;
}

.activeCardImgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1;
  transition: all 0.5s ease-in-out;
}

.activeCardImgWrap img:hover {
  scale: 1.2;
}

.cardBox {
  box-shadow: 0 1px 3px #00000005, 0 0 0 1px #1b1f2326;
  border-radius: 5px;
  height: 210px;
  width: 268px;
}

@media only screen and (max-width: 1024px) {
  .cardBox {
    width: 100%;
    height: auto;
  }

  .victimCard {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .activeCardImgWrap {
    top: 72%;
    left: 31%;
  }
}

@media only screen and (max-width: 500px) {
  .activeCardImgWrap {
    height: 150px;
  }

  .cardBox {
    height: 214px;
  }
}